.movingPics-container {
  width: 100%;
  position: relative;
  padding: 1.2rem 0rem;
  display: grid;
  grid-template-columns: repeat(9, 320px);
  column-gap: 0.15rem;
  overflow: hidden;
  margin-top: 6rem;
}

.MovingPics {
  width: 100%;
  height: 100%;
  animation: movingPics 14s linear infinite;
}

@keyframes movingPics {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (width > 600px) {
  .movingPics-container {
    width: 100%;
    grid-template-columns: repeat(9, 320px);
    margin-top: 3rem;
    overflow: hidden;
  }

  .MovingPics {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: movingPics 14s linear infinite;
  }
}
