.cart-count {
  border-bottom: 1px solid lightgray;
}

.checkout-container {
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: var(--font1);
  margin-top: 7.5rem;

  @media (width > 500px) {
    margin-top: 4%;
  }
}

.checkout-container h2 {
  font-weight: 500;
  font-size: clamp(1rem, 0.9322rem + 0.339vw, 1.15rem);
  margin: 0.25rem 0;
}

.cart-payment-summary {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 0.75rem;
  padding: 0rem 0.5rem;
  margin: 0.5rem 0rem;

  @media (width >= 500px) {
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
}

.empty-cart-message {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.empty-cart-message-picture {
  height: 10vh;
  width: 20vw;
}

.empty-cart-message-picture img {
  height: 100%;
  width: 100%;
}

.empty-cart-message h1 {
  font-size: clamp(1rem, 0.887rem + 0.565vw, 1.25rem);
  font-weight: 500;
}

.move-to-home {
  text-decoration: underline;
  color: black;
}

.cart-detail-combine {
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.75rem;

  @media (width >= 500px) {
    border: 1px solid lightgray;
    border-radius: 6px;
  }
}

.last-cart-detail {
  font-family: var(--font2);
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0rem 0.5rem;
}

.cart-summary {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: start;
  gap: 0.15rem;

  border-bottom: 1px solid lightgray;

  @media (width >= 500px) {
    display: grid;
    grid-template-columns: 120px 1fr;
  }
}

.cart-product-image {
  overflow: hidden;
  border-top-left-radius: 4px;
}

.cart-product-image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.cart-item-detail {
  height: 100px;
  padding: 0rem 0.5rem;

  @media (width >= 500px) {
    padding: 0.75rem 0.5rem;
  }
}

.cart-product-name {
  font-size: clamp(0.95rem, 0.8822rem + 0.339vw, 1.1rem);
  font-weight: 500;
  margin: 0;
}

.product-price {
  margin: 0;
}

.product-quick-details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.size-option,
.colour-option,
.quantity-option {
  font-weight: 600;
  font-size: clamp(0.8rem, 0.7096rem + 0.452vw, 1rem);
  margin: 0;
}

.size-value,
.colour-value {
  font-size: clamp(0.85rem, 0.7822rem + 0.339vw, 1rem);
  color: rgb(44, 44, 44);
}

.edit-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}

.increase-quick-quantity,
.decrease-quick-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  font-size: 1.5rem;
  width: 35%;
  height: 35px;
  cursor: pointer;
}

/* CODES FOR PAYMENT SECTION */

.payment-container {
  border: 1px solid lightgrey;
  border-radius: 4px;
  overflow: hidden;
  padding: 1rem 0rem;
  height: 40vh;

  @media (width > 500px) {
    height: 50vh;
  }
}

.payment-container h3 {
  font-family: var(--font1);
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.price-calculation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0;
  padding-bottom: 2.5rem;

  font-family: var(--font1);
  font-size: clamp(1rem, 0.9548rem + 0.226vw, 1.1rem);
}

.item-cost,
.calculate-discount,
.calculate-tax,
.final-total-cost {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  font-weight: 400;
  font-family: var(--font2);
}

.calculate-tax {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.25rem;
}

.calculate-discount p {
  font-size: clamp(0.75rem, 0.7048rem + 0.226vw, 0.85rem);
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.15s;
}

.calculate-discount p:hover {
  color: var(--clr-red-500);
  text-decoration: underline;
}

.checkout-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.checkout-button button {
  background-color: rgb(226, 226, 226);
  border: none;
  border-radius: 8px;
  font-family: var(--font1);
  font-size: 1rem;
  cursor: pointer;
  height: 40px;
  width: 80%;

  transition: all 0.5s ease;
}

.checkout-button button:hover {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
}
