* {
  box-sizing: border-box;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: var(--font1);
  font-weight: 500;
  margin-top: 1rem;
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  height: 6.5vh;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 0.25rem;

  @media (width > 500px) {
    height: 8vh;
    width: 18%;
  }
}

.child {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100%;
}

.selector {
  position: absolute;
  width: calc(50% - 0.25rem);
  left: 0.25rem;
  top: 0.25rem;
  bottom: 0.25rem;
  background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.405) 15%,
    rgba(0, 0, 0, 0.212)
  );
  border-radius: 6px;
  z-index: -1;
  background-color: white;
  transition: all 0.25s ease-in-out;
}

.selector.right {
  transform: translateX(100%);
}

.selector.left {
  transform: translateX(0%);
}

form {
  display: grid;
  gap: 1rem;
  padding: 0rem 0.5rem;
  font-family: var(--font1);
  border-top: 1px solid lightgray;
  margin: 0.5rem 0.75rem;
  padding: 0.5rem 0rem;
  padding-bottom: 5rem;
  width: 375px;

  @media (width >= 400px) {
    max-width: 400px;
    margin: 1rem auto;
    padding-bottom: 1.5rem;
  }
}

.greets {
  text-align: center;
  margin-bottom: 1rem;
}

.greets .shop-name {
  font-weight: 800;
  font-size: 0.85rem;
  margin: 0.5rem 0rem;
}

.greets .greet-text {
  font-size: 1rem;
  font-weight: 800;
  margin: 0.55rem 0rem;
}

.greets .login-text {
  font-weight: 400;
}

select,
button,
textarea {
  font-size: 1rem;
}

.form-group,
.login-button {
  position: relative;
  padding: 0rem 1rem;
  margin: 0.25rem 0rem;
}

.forgot-password-link {
  font-weight: 400;
  text-align: end;
  margin-top: 0.45rem;

  &:hover {
    color: var(--clr-red-500);
  }
}

.form-group input {
  position: relative;
  border: 1px solid lightgray;
  padding: 1rem 0.75rem;
  border-radius: 6px;
  width: 100%;
  background-color: transparent;
  color: black;
  outline: none;
  font-family: var(--font1);
  font-size: 1rem;
}

.labelline {
  position: absolute;
  top: 0;
  transform: translateY(40%);
  margin: 0 0.5rem;
  font-size: 1rem;
  padding: 0.25rem;
  z-index: -1;

  background-color: rgb(235, 233, 233);
  background-color: white;
  transition: 0.2s ease;
}

.form-group input:focus,
.form-group input:valid {
  color: black;
  border: 1px solid red;
}

.form-group input:focus ~ .labelline,
.form-group input:valid ~ .labelline {
  color: red;
  transform: translateY(-50%) scale(0.9);
  z-index: 99;
}

.login-primary {
  position: relative;
  height: 6.5vh;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  color: white;
  border-radius: 8px;

  &::before {
    position: absolute;
    content: "";
    inset: 0.15rem;
    background-color: black;
    border-radius: 6px;
    z-index: -1;
  }
}

.login-methods .login-method-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.login-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.connect-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0.75rem 0;
  margin: 0.25rem 0rem;
  gap: 0.75rem;
  border-radius: 30px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);

  font-weight: 500;
  font-size: 1.05rem;
}

.new-user {
  text-align: center;
}

.new-user span {
  color: rgb(110, 131, 246);
  text-decoration: underline;
}

.hide-display-message {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 8%;
  transform: translateY(60%);
}
