.products-container-all {
  padding: 0.5rem;
}

.products-container-all h1 {
  position: relative;
  font-size: 1rem;
  margin: 0.25rem 0;
  height: fit-content;
  text-align: center;
  font-family: general sans;

  &::after {
    content: "";
    height: 5%;
    width: 68%;
    left: 0;
    position: absolute;
    background-color: black;

    @media (width > 500px) {
      height: 4%;
      width: 56%;
    }
  }

  &::before {
    content: "";
    height: 5%;
    width: 55%;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: black;

    @media (width > 500px) {
      height: 4%;
      width: 51%;
    }
  }
}

.products-parent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 0.35rem;
  row-gap: 0.45rem;
  margin: 0rem 0rem;
  position: relative;
  justify-content: center;
  overflow: hidden;

  @media (width >= 500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-container {
  background-color: var(--clr-lightgrey-500);

  transition: all 0.15s ease-in-out;
  overflow: hidden;
  padding-bottom: 0.25rem;
}

.product-content {
  min-height: 100%;
  font-family: clash display;
  padding: 0rem 0.35rem;
  text-align: center;
}

.product-content .product-name {
  font-weight: 400;
  font-size: clamp(0.85rem, 1.0716rem + -0.0693vw, 1.05rem);
  margin: 0.5rem 0rem;
  font-size: 0.9rem;
}

.product-content .product-color {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;

  @media (width >= 500px) {
    font-size: 0.95rem;
  }
}

.product-content .product-price {
  font-size: 0.95rem;
  font-weight: 500;

  @media (width >= 500px) {
    font-size: 1rem;
  }
}

.image-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.products-image {
  height: auto;
  width: 100%;
  cursor: pointer;
}

.view-product-button {
  background-color: rgba(255, 255, 255, 0.119);
  backdrop-filter: blur(1.3px);
  color: #000000;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 50%;

  font-size: 0.55rem;
  font-family: general sans;
  cursor: pointer;
  position: absolute;
  inset: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  transform: scale(0);
}

.image-wrapper:hover .view-product-button {
  opacity: 1;
  transform: scale(1.5);
}
