body {
  padding-top: 55px;
  margin: 0;

  &::selection {
    background-color: #c9c8c8;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-red-500: rgb(232, 25, 25);
  --clr-whitesmoke-500: whitesmoke;
  --clr-lightgrey-500: rgb(238, 238, 238);
  --clr-white-full: white;
  --clr-black-full: black;
  --font1: "general sans";
  --font2: "inter";
  --font3: "clash display";
}
